###### Modin library is used to increase the speed (or to make pandas library more efficient) of a pandas library

In [1]:
#!pip install modin[ray]
import modin.pandas as pd
import pandas as pd

In [2]:
%%time
df=pd.read_csv('C:\python\Datasets\Iris.csv')
df

CPU times: total: 15.6 ms
Wall time: 21 ms

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [3]:
%%time
df.groupby('PetalLengthCm').count()

CPU times: total: 0 ns
Wall time: 15.4 ms

               Id  SepalLengthCm  SepalWidthCm  PetalWidthCm  Species
PetalLengthCm
1.0             1              1             1             1        1
1.1             1              1             1             1        1
1.2             2              2             2             2        2
1.3             7              7             7             7        7
1.4            12             12            12            12       12
1.5            14             14            14            14       14
1.6             7              7             7             7        7
1.7             4              4             4             4        4
1.9             2              2             2             2        2
3.0             1              1             1             1        1
3.3             2              2             2             2        2
3.5             2              2             2             2        2
3.6             1              1             1             1        1
3.7             1              1             1             1        1
3.8             1              1             1             1        1
3.9             3              3             3             3        3
4.0             5              5             5             5        5
4.1             3              3             3             3        3
4.2             4              4             4             4        4
4.3             2              2             2             2        2
4.4             4              4             4             4        4
4.5             8              8             8             8        8
4.6             3              3             3             3        3
4.7             5              5             5             5        5
4.8             4              4             4             4        4
4.9             5              5             5             5        5
5.0             4              4             4             4        4
5.1             8              8             8             8        8
5.2             2              2             2             2        2
5.3             2              2             2             2        2
5.4             2              2             2             2        2
5.5             3              3             3             3        3
5.6             6              6             6             6        6
5.7             3              3             3             3        3
5.8             3              3             3             3        3
5.9             2              2             2             2        2
6.0             2              2             2             2        2
6.1             3              3             3             3        3
6.3             1              1             1             1        1
6.4             1              1             1             1        1
6.6             1              1             1             1        1
6.7             2              2             2             2        2
6.9             1              1             1             1        1

In [21]:
%%time
import pandas as pd
df=pd.read_csv('C:\python\Datasets\Pokemon.csv')
df

CPU times: total: 0 ns
Wall time: 5.09 ms

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True