## chapter 2: Python Data types

## 1.String

In [1]:
a='Hello world'
print(a)
print(a[0:5])
print(a[4])

Hello world
Hello
o

## 2.Set

In [2]:
a=set('Statistics')        # Unique letters in a
a

{'S', 'a', 'c', 'i', 's', 't'}

In [3]:
a=frozenset('Statistics')
a

frozenset({'S', 'a', 'c', 'i', 's', 't'})

## 3.Numbers

In [4]:
int=10
print(int)
float=5.6
print(float)
complex=3.14j
print(complex)
long=1234567        # Long value 
print(long)

10
5.6
3.14j
1234567

## 4.List

In [5]:
# Lists are mutable
list=[123,'stat',10.5]
list1=[18,'python']
print(list)
print(list[0:2])
print(list[-2])
print(list*2)             # It gives the list two times
print(list1+list)         # It adds two lists

[123, 'stat', 10.5]
[123, 'stat']
stat
[123, 'stat', 10.5, 123, 'stat', 10.5]
[18, 'python', 123, 'stat', 10.5]

## 5.Dictionary

In [6]:
dic={'name':'Python','age':10}
print(dic)
print(dic['name'])                # It gives value assigned by "name"
print(dic.values())               # It gives list of values assigned in dictionary
print(dic.keys())                 # It gives lists of keys

{'name': 'Python', 'age': 10}
Python
dict_values(['Python', 10])
dict_keys(['name', 'age'])

## 6.Tuple

In [7]:
# Tupples are immutable
tuple=(345,"statistics")
print(tuple)
print(tuple[-2])
#print(tuple[1,'math'])
print(tuple[-1])

(345, 'statistics')
345
statistics

In [8]:
a={1,2,3,4,5}
b={2,3,4,5}
print(a&(b))                  # Intersection of two sets
print(a.intersection(b))      # Intersection of two sets
print(a.union(b))             # Union of two sets
print(a|b)                    # Union of two sets

{2, 3, 4, 5}
{2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [9]:
s={1,2,3}
s.discard(3)
s

{1, 2}

In [10]:
from collections import Counter

In [11]:
a=Counter(['a','b','b','c'])
a

Counter({'a': 1, 'b': 2, 'c': 1})

In [12]:
a,v,d,f=2,4,5,6

In [13]:
a/v

0.5

In [14]:

a/f

0.3333333333333333

In [15]:
import operator

In [16]:
operator.add(a,v)

6

In [17]:
import math 
import cmath

In [18]:
c=5
math.sqrt(c)
cmath.sqrt(c)

(2.23606797749979+0j)

In [19]:
x=27           
math.pow(x,1/3)       # It gives cube root of x

3.0

In [20]:
a=60
math.sin(a)

-0.3048106211022167

In [21]:
math.log(5)

1.6094379124341003

In [22]:
n=13
if n>2:
    print("Number is greater than 2")
else:
    print('Number is less than 2')

Number is greater than 2

In [23]:
n=10
if n>5:
    print('Number is greater than 5')
elif n<5:
    print("number is smaller than 5")
else:
    print("Number is 5")

Number is greater than 5

In [24]:
a=3
b=6
if a>=3 and b>4:
    print('Yes')
else:
    print('No')

Yes

In [25]:
a='Rohit'
b='Rohit'
a is b

True

In [26]:
i=2
while i<8:
    print(i)
    if i==6:
        break
    i=i+1

2
3
4
5
6

In [27]:
for i in (0,1,2,3,4,5):
    if i==5:
        break
        print(i)

In [28]:
def break_all():
    for j in range(1,5):
        for i in range(1,4):
            if i+j==6:
                return(i)

In [29]:
for i in [0,1,2,3,4]:
    print(i)

0
1
2
3
4

In [30]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
from array import*

In [32]:
my_array=array('i',[1,2,3,4,5])
print(my_array[-3])

3

In [33]:
print(my_array[0])

1

In [34]:
for i in my_array:
    print(i)

1
2
3
4
5

In [35]:
my_array.insert(0,0)
my_array

array('i', [0, 1, 2, 3, 4, 5])

In [36]:
c=[11,12,14]
my_array.fromlist(c)
my_array

array('i', [0, 1, 2, 3, 4, 5, 11, 12, 14])

In [37]:
my_array.remove(5)
my_array

array('i', [0, 1, 2, 3, 4, 11, 12, 14])

In [38]:
my_array.buffer_info()

(2716160965632, 8)

In [39]:
lst=[[1,2,3],[4,5,6],[7,8,9]]
lst[0]
lst[2]

[7, 8, 9]

In [40]:
print(lst[1][1])

5

In [41]:
fish={'name':1,'hands':2,'special':'3'}
dog={'name':'prasanna','Name':'Yogesh','nAme':'sachin'}
fishdog={**fish,**dog}